.img-responsive{ max-width: 100%; height: auto;display: block}
body{background-color:#F7F4F4 ;width: auto;height: auto;margin: auto;}
.container{margin: auto;width: auto;height: auto;padding: 20px; }
img{margin: auto;}
h2{text-align: left;}
h3{color: white;}
.myCarousel{margin: auto;width: auto;height: auto;color: black}
.carousel-inner > .item > img {
	position:relative;
	min-width: 20%;
	height: 300px; /* Altura da imagem dentro do Carousel */
}
/*cor dentro do carousel*/
.item{background-color: #999999;}

p{padding: 5px 5px 5px 5px;}



.row{margin-top: 10px;}
.navbar{margin-top: 10px;}
#imgb{

	position:relative;
	min-width: 40%;
	height: 200px; /* Altura da imagem  */
}


.panel-body{text-align: justify;}

li{font-size: 18px;}

/*efeito mouse houver */

#imgb{transition: all 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);}
#imgb:hover{transform: scale(1.2); }

textarea{margin: auto;margin-left: auto;}
/*fundo*/

#fundo-externo {
    overflow: hidden; /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: auto;
    height: auto;
    position: relative; /* criamos um contexto para posicionamento */
}
 
#fundo {
    position: fixed; /* posição fixa para que a possível rolagem da tela não revele espaços em branco */
    width: auto;
    height: auto;
}
 
#fundo img {
    width: auto; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
    height: auto;
    position: absolute;
}

#disqus_thread{margin: auto;margin-right: auto;}
